html,body{
    overflow-x: hidden;
     height: 100%;
}
/*/////////*/
/*public page header*/
/*//////*/
.bg-dark {
    background-color: #343a40d9!important;
}
.signInLink>a {
    color: #1e7e34!important;
}
.signInLink>a:hover{
    color: white!important;
}
.signUpLink{
    background-color: #1e7e34;
    border-radius: 5px;
    height: 30px;
    /*padding: 2px 12px 2px 12px;*/
    margin-top: 5px;
    /*padding: 3px 5px 3px 5px;*/
}
.signUpLink:hover{
    background-color: #1c7430;

}
.signUpLink>a{
    /*padding: 0!important;*/
    color: #e3e3e3 !important;
    padding: 2px 14px 2px 14px!important;

}

/*imdex*/
/*////////////*/
.imageWrapper{
    width: 100%;
    background: url("https://cdn.pixabay.com/photo/2015/11/05/08/21/geometry-1023846_1280.jpg") no-repeat;
    background-position: center top;
}
.imageWrapper>div{
    width: 100%;
    height: auto;
    text-align: center;
    background-color: #1d21248f;
}
.imageWrapper>div>h2{
    color: #fff;
    max-width: 600px;
    margin: 0 auto;
    padding-top: 130px;
    padding-bottom: 130px;
}
.imageWrapper>div>h2>p{
    font-size: 15px;
    width: 418px;
    margin: 16px auto;
}

/*.imageWrapper>img {*/
/*    height: -webkit-fit-content;*/
/*    width: -webkit-fill-available;*/
/*}*/


/*///////////////////////////////*/
/*media rules for responsive page*/
/*////////////////////////*/
@media only screen and (max-width: 470px){
    .imageWrapper>div>h2>p {
        width: auto;
        font-size: 12px;
    }
    .imageWrapper>div>h2 {
        font-size: 20px;
    }
}

@media only screen and (max-width: 560px){
    .imageWrapper>div>h2 {
        font-size: 27px;
    }
}

@media only screen and (max-width: 700px) {
    .hideOnPhone {
        display: none;
    }
    .navbarRight {
        width: 156px;
    }
    html,body{
        height: auto;
    }
}

@media only screen and (min-width: 800px) {
    .imageWrapper>div>h2{
        padding-top: 200px;
        padding-bottom: 200px;
    }
}
@media only screen and (max-width: 992px) {
    .navbarRight {
        display: block!important;
        flex-basis: auto;
        flex-grow: 0;
    }
    .navbarRight>ul{
        display: block;
    }
    .navbarRight>ul>li{
        float: left;
        margin-left: 7px;
        margin-right: 7px;
    }
}
@media only screen and (min-width: 1100px){
    .imageWrapper{
        background-size: 100% auto;
    }
}


/*SignIn and SignUp*/

.global-container{
    height:100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #f5f5f5;
}

form{
    padding-top: 10px;
    font-size: 14px;
    margin-top: 30px;
}

.card-title{ font-weight:300; }

.btn{
    font-size: 14px;
    margin-top:20px;
}


.login-form{
    width:330px;
    margin:20px;
}

.sign-up{
    text-align:center;
    padding:20px 0 0;
}

.alert{
    margin-bottom:-30px;
    font-size: 13px;
    margin-top:20px;
}
.secondOptionDiv{
    float: right;
}